<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nominal Mass/Metre Run List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>

    <ion-row>
      <ion-col style="text-align: center;font-weight: bold;">
        <p>Nominal mass per meter reference</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="text-align: center;">
        <table>
          <tr>
            <th>Nominal Diameter (mm)</th>
            <th>Mass per meter run (kg/m)</th>
           </tr>
          <tr>
            <td>10</td>
            <td>0.617</td>
            </tr>
          <tr>
            <td>12</td>
            <td>0.888</td>
            </tr>
          <tr>
            <td>16</td>
            <td>1.580</td>
              </tr>
          <tr>
            <td>20</td>
            <td>2.470</td>
              </tr>
          <tr>
            <td>25</td>
            <td>3.850</td>
            </tr>
          <tr>
            <td>32</td>
            <td>6.310</td>
            </tr>
        </table>    
      </ion-col>
    </ion-row>
  
  </ion-grid>
  
</ion-content>